@model  IEnumerable<BTCD_System.Models.ItemM>
@using BTCD_System.Models;

@{
    ViewBag.Title = "Item Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Vegetable List
    </h1>
</section>

<!-- Main content -->
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Vegetable Search</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="display: none;">
                     <section class="content">
                    <div class="row">
                        @using (Html.BeginForm("Details", "Item", FormMethod.Post))
                        {
                        <div class="col-md-3 form-group">
                            <label style="color:white">English Name</label>

                            <div class="form-inline">
                                <input type="text" id="txtEnglishDescription" class="form-control" onkeyup="startText();" name="SinghalaName" />
                                <button class="btn btn-info" id="btnSerchEnglish">Serch</button>
                                <input type="hidden" value="2" name="laLanguageId" />
                            </div>
                        </div>
                        }
                        @using (Html.BeginForm("Details", "Item", FormMethod.Post))
                        {
                        <div class="col-md-3 form-group">
                            <label style="color:white">Sinhala Name</label>

                            <div class="form-inline">
                                <input type="text" id="txtSinghalaDescription" class="SinghalaUnicode form-control" onkeyup="startText();" name="SinghalaName" />
                                <button class="btn btn-info" id="btnSerchSinhala">Serch</button>
                                <input type="hidden" value="1" name="laLanguageId" />
                            </div>

                            <input type="text" id="txtSinghalaDescription2" class="SinghalaUnicode form-control" style="font-size:large" name="SinghalaName2" disabled="disabled" />
                        </div>
                        }

                        @using (Html.BeginForm("Details", "Item", FormMethod.Post))
                        {
                        <div class="col-md-3 form-group">
                            <label style="color:white">Tamil Name</label>

                            <div class="form-inline">
                                <input type="text" id="txtTamilDescription" class="TamilUnicode form-control" onkeyup="startText();" name="SinghalaName" />
                                <button class="btn btn-info" id="btnSerchSinhala">Serch</button>
                                <input type="hidden" value="3" name="laLanguageId" />
                            </div>

                            <input type="text" id="txtTamilDescription2" class="TamilUnicode form-control" style="font-size:large" name="SinghalaName2" disabled="disabled" />
                        </div>
                        }

                    </div>
                </section>          
    </div>

    <section class="content">
        <div class="row">

            @{ int count = 0; bool IsRow = true; }

            @foreach (ItemM ItemM in Model)
            {
                count++;

                if (IsRow == true)
                {
            @:<div class="row">
        }

                if (count <= 4)
                {
                    IsRow = false;

                    Tile tile = new Tile();

                    tile.Controller = "Item";
                    tile.Action = "CreateStock";
                    tile.Value = ItemM.ItemId.ToString();
                    tile.Subject = ItemM.ItemName;
                    tile.Image = ItemM.ImageUrl;

                    Html.RenderPartial("~/Views/Shared/_Tile.cshtml", tile);
                }

                if (count == 4)
                {
                    count = 0;
                    IsRow = true;
            @: </div>
                }
            }
        </div>
    </section>
    <!-- /.content -->
</div>
<script>
    $(document).ready(function () {
        $("#btnSerchSinhala").click(function () {
            $.ajax({

            })
        })
    })
</script>

