@model  IEnumerable<BTCD_System.Models.CategoryM>
@using BTCD_System.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

<!-- Content Header (Page header) -->
<section class="content-header" >
   
    @*<h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>*@

    <img src="/images/VegetablesBG.jpg" alt="Vegetables" style="width:100%;" class="img-responsive img-rounded">
</section>

<!-- Main content -->
<section class="content"></section>
<!-- /.content -->
